body{
  font-family: 'Roboto', sans-serif;
}

.bg-image{
  background: url(/assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;

}

.container{
  display: flex;
  padding: 15px;
  justify-content: flex-end;
  
}

.logo{
      display: flex;
      justify-content: flex-start;
      width: 100vw;
      font-size: 30px;
}

.text-color{
  color: white;
}

.item{
  padding: 15px;
  margin: 15;
  font-size: 20px;
  display: flex;
}

.item a{
  text-decoration: none;
  color: black;
}

.item-right{
  justify-content: flex-end;
}


.main-container{
  display: flex;
  height: 80vh;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
}

.main-text{
  color: white;
  font-size: 90px;
  font-weight: 700;
  margin: 30px;
}

.icon-color{
  background-color: #FFC5C1;
  border-radius: 100%;
  color: white;
}


.social-media{
  height: 25px;
  position: fixed;
  right: 3%;
  bottom: 0;
  background-color: #FFC5C1;
  padding: 25px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.social-media a{
  color: white;
  text-decoration: none;
}
